{% extends 'base.html' %}
{% block body %}

<style>
   .std {
      width: 200px;
   }
   html { overflow-y: hidden; }

   
   
</style>
<button class="btn btn-primary float-right mt-3 mr-2 print">Print</button>
<button class="btn btn-primary float-left mt-3 mr-2" id="{{maindata.chanum}}" onclick="edit(this)">Edit</button>
<div id="printdiv">
   <div class="table-responsive" style="overflow: hidden;">
      <table class="table table-bordered">
         <tr>
            <td colspan="2" align="center">
               <h3 style="margin-top:10.5px">Unique Nepal Hume Pipe Udhyog</h2>
                  <h5>Bharatpur-14, Chitwan</h2>
            </td>
         </tr>
         <tr>
            <td colspan="6">
               <div class="row">
                  <div class="col-md-8">
                     To,<br />
                     <b>RECEIVER (BILL TO)</b><br />
                     <b>Name: {{maindata.name}}</b></br>
                     <b>PAN: {{maindata.pan}}</b></br>
                     <b>Address: {{maindata.address}}</b>
                  </div>
                  <div class="col-md-4">
                     <div style="margin-left: 8em;" >
                     More Details<br />
                     <b>Bill No: {{maindata.billnum}}</b></br>
                     <b>Challan No: {{maindata.chanum}}</b></br>
                     <b>Date: {{maindata.date}}</b></br>
                     <b>Phone No: {{maindata.phone}}</b>
                  </div>
                  </div>
               </div>
   </div>
   <br />
   <table id="invoice-item-table" class="table table-bordered">
      <tr>
         <th>Sr No.</th>
         <th>Type</th>
         <th>Size</th>
         <th>Unit</th>
         <th>Quantity</th>
         <th>Price</th>
         <th>Amount</th>
      </tr>
      <tr>

         {% for values in ext %}

         <td>{{loop.index}}</td>

         <td>
            {{values.type}}
         </td>
         <td>{{values.size}}</td>
         <td>

            {{values.unit}}
         </td>
         <td>{{values.quantity}}</td>
         <td>{{values.price}}</td>
         <td>{{values.amount}}</td>
      </tr>
      {% endfor %}
   </td>
   </tr>
   

   <table class="tbl" style="margin-left: auto; border-collapse:separate; border-spacing:1em;">
      <tr>
         <td class="totaltext" align="right">
            <b class="finaltotaltext">Sub Total:</b>
         </td>
         <td class="std">
            {{maindata.total}}
         </td>
      </tr>
      <tr>
         <td class="totaltext" align="right">
            <b class="vattext">13% VAT:</b>
         </td>
         <td class="std">
            {{(maindata.total * 13) / 100}}
         </td>
      </tr>
      <tr>
         <td class="totaltext" align="right">
            <b class="finaltotaltext">Total</b>
         </td>
         <td class="std">
            {{((maindata.total * 13) / 100) + maindata.total}}
         </td>
      </tr>
   </table>
</table>

</div>
</div>
{% endblock body %}

{% block script %}
<script>
   $(document).on('click', '.print', function () {
      var restorepage = document.documentElement.innerHTML;
      var printcontent = document.getElementById('printdiv').innerHTML;
      document.body.innerHTML = '<style>.tbl{margin-right: 4em} html{overflow: hidden;}</style>' + printcontent;
      window.print();
      location.reload();

   });
   function edit(t){
      window.location.href = '/edit/' + t.id;
   }
</script>
{% endblock script %}